@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Ultimate Developer<br />
    Naukri ki talsh mai<br />
    <abbr title="Phone">Ph:</abbr>
    Nahi Batuanga
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@companyjaldikholunga.com">Support@companyjaldikholunga.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@companyjaldikholunga.com">Marketing@companyjaldikholunga.com</a>
</address>